body{
    background-color: rgb(240, 204, 161);
}
#root{
    margin-top: 400px;
    margin-left: 33%;
}
a{
 color: rgb(82, 35, 35);
 font-size: 45px;
}
footer{
    
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin-top: 90%;
}
span{
    color: rgb(11, 84, 133);
}


